@model demo_part2.Models.claim

@{

    ViewData["Title"] = "Dashboard Page";

}

<a href="/Home/view_claim/">View claims</a>
<a href="/Home/Approve/">Approve claim</a>

<br /><br />

<form method="post" asp-action="claim_sub">

    <label>Module name</label>
    <input type="text" asp-for="user_email" required />
    <br />
    <label>Hours worked </label>
    <input type="text" asp-for="hours_worked" required />
    <br />
    <label>Hours per rate on modules </label>
    <input type="text" asp-for="hour_rate" required />

    <br />
    <label>Description </label>
    <textarea type="text" asp-for="description" required ></textarea>
    <br />
    <input type="submit"  value="Submit claim" />

</form>