@model demo_part2.Models.register


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <!--form to register-->
    <form method="post" asp-action="Register_user">

        <label >Name: </label>
        
        <input  type="text" asp-for="username"   required />
        <br />
        <label>Email: </label>
        <input type="email" asp-for="email" required />
<br />
        <label>Select role: </label>
        <select asp-for="role" >
            <option selected disabled >select role here</option>
            <option value="lecture">Lecture</option>
            <option value="pm">PM</option>

        </select>

        <br />
        <label>Password: </label>
        <input type="password" asp-for="password" required />

        <br />
        <input type="submit" value="register now" />

    </form>

    <br />
    <a href="/Home/Login">Already have an account, login now</a>


</div>
