
@model demo_part2.Models.check_login

@{

    ViewData["Title"] = "Login Page";

}
<div class="text-center">

    <form asp-action="login_user" method="post">

        <label>Email</label>
        <input type="email" asp-for="email" required />
        <br />
        <label>Select role</label>
        <select asp-for="role">
            <option selected disabled>select role here</option>
            <option value="lecture">Lecture</option>
            <option value="pm">PM</option>
        </select>

        <br />
        <label>password </label>
        <input type="password" asp-for="password" required />
        <br />
        <input type="submit" value="Login"  />
    </form>


    </div>